:root {
    --colorWhite: #fff;
    --primaryColor: #4bd296;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    transition: all 250ms ease-in-out;
    color: #fff;
}

.scroll {
    background-color: #fff;
}

body {
    background-color: #F5F5F5;
}

/* https://1.bp.blogspot.com/-XKrpUR1hygY/YMcaW5_-uHI/AAAAAAAATYw/5oOaO1XMrXwUV76pexRsyNpdNKKTYHLswCLcBGAsYHQ/s800/bhdt-qrcode.jpg */
.section-header {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1267&q=80')center no-repeat;
    background-size: cover;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

}

@media screen and (max-width: 1023px) {
    .section-header {
        background-size: unset;
    }
}